.flex-container {
    display: flex;
    margin-top: 420px;
}

.flex-filter {
    flex: 2;
    padding: 20px;
    overflow: auto;
    height: 700px;
}

.flex-list {
    flex: 7.5;
    overflow: auto;
    padding: 20px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

th {
    text-align: left;
}
